/* Write CSS here */
.main {
  min-height: 100vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 30%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:35vh;
  width:35vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:767px){
.card {
  height:40vh;
  width: 80vw;
 
}

  .main{
    background-image: url("https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png");
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px;
  }
}
.side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.img {
  width: 50%;
}
.time {
  font-size: 17px;
  font-weight: 700;
  margin: 5px;
}
.seconds {
  font-size: 35px;
  font-weight: 600;
  margin: 10px;
}
.btn {
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: white;
}
.green {
  background-color: #1db05f;
}
.red {
  background-color: #ef0d36;
}
.yellow {
  background-color: #eaa800;
}
